:host {
    display: block;
    padding: 40px;
}

.gallery-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}


.close-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}