<span class="posted-listing-details-wrapper">
    <div *ngIf="isAuthorized" class="grid-container">
        <mat-card *ngFor="let listing of listings" class="example-card">
            <div class="image-container">
                <img *ngIf="listing.mediaType === 'image'" mat-card-image class="image-size" [src]="listing.media"
                    alt="Photo of a Shiba Inu">
                <video *ngIf="listing.mediaType === 'video'" [src]="listing.media" class="image-size" controls></video>
                <div (click)="onViewDetails(listing.id)" class="overlay">
                    <div class="card-text">Click to View details</div>
                </div>
            </div>
            <mat-card-content class="card-content">
                <p class="image-details">
                    {{listing.text}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</span>