<span class="upload-documents-wrapper">
  <div>
    <mat-toolbar>
      <button mat-flat-button color="primary" (click)="fileInput.click()"
        [disabled]="(authService.isAuthorized$ | async) === false">
        <div class="upload-button">
          <span class="upload-icon">
            <mat-icon>upload</mat-icon>
          </span>
          Upload
        </div>
      </button>
    </mat-toolbar>

    <input hidden type="file" #fileInput name="fileInput" accept="image/*, video/*" multiple
      (change)="selectFiles($event)"/>
  </div>

  <div class="selected-images-preview">
    <div *ngFor="let preview of previews | keyvalue">
      <img [src]="preview.value" class="preview">
      <mat-icon class="remove-icon" (click)="removeImage(preview.key)">cancel</mat-icon>
    </div>
    <div *ngFor="let preview of videoPreviews | keyvalue">
      <video [src]="preview.value" class="preview" controls></video>
      <mat-icon class="remove-icon" (click)="removeVideo(preview.key)">cancel</mat-icon>
    </div>

  </div>
</span>