@import '../../styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

.sell-page-wrapper {
    .info-icon {
        font-size: 25px;
        margin: -3px;
        color: red;
    }
    
    .info-message {
        margin-left: 10px;
        font-size: 25px;
        font-weight: 500;
        color: red;
    }
    
    .info-para {
        padding-top: 20px;
    }
    .background-image {
        //background-image: url('../../assets/sell-page-img.jpg');
        height: 100%;
        display: block;
        margin-top: 15px;
    }

    .image-main-text {
        color: white;
        font-size: 50px;
        font-weight: bold;
    }

    .image-sub-text {
        color: white;
        font-size: 25px;
        font-weight: 500;
    }

    .post-listing-button {
        width: 11%;
        margin: 30px;
        border-radius: 30px;
        background-color: $primaryColor;
        color: $accentColor;
    }

    .mat-mdc-raised-button:disabled {
        opacity: 0.6;
    }

    .image-sub-text1 {
        color: white;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        font-family: "Protest Revolution", sans-serif;
    }

    .fill-up-listing-title {
        top: 10%;
        position: relative;
    }

    .panel-headers-align .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }

    .mat-expansion-panel-header {
        background: $primaryColor;
    }

    .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]),
    .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]),
    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
        background: $primaryColor;
    }

    .panel-title {
        color: $accentColor;
    }

    .panel-desc {
        color: $accentColor;
    }

    .panel-icon {
        color: $accentColor;
    }

    .mat-accordion .mat-expansion-panel {
        padding: 5px;
    }

    .post-Listing-button {
        width: 15%;
        display: block;
        background: $primaryColor;
        color: $accentColor;
        padding: 10px;
        margin: 5px;
        margin-top: 20px;
        border-radius: 30px;
        height: 15%;
    }
}