<span class="sell-page-wrapper">
    
    <div class="content" role="main">
        <app-image-carousel></app-image-carousel>
        <div class="background-image">
            <p *ngIf="(authService.isAuthorized$ | async) === false" class="info-para"><mat-icon class="info-icon">info</mat-icon><span class="info-message">Please Sign-In to Post/View your Listing(s).</span></p>
            <mat-accordion class="panel-headers-align" multi>
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="panel-title">
                            POST YOUR LISTING
                        </mat-panel-title>
                        <mat-panel-description class="panel-desc">
                            Add in your Listing details
                            <mat-icon class="panel-icon">home</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <button mat-raised-button class="post-Listing-button" [disabled]="(authService.isAuthorized$ | async) === false" (click)="openListingDialog()">
                        <span>Post A Listing</span>
                    </button>
                </mat-expansion-panel>
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="panel-title">
                            ALREADY POSTED LISTINGS
                        </mat-panel-title>
                        <mat-panel-description class="panel-desc">
                            View All Your Listings
                            <mat-icon class="panel-icon">fact_check</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <app-posted-listing-details></app-posted-listing-details>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</span>