<div class="listing-details-dialog-wrapper">
    <mat-vertical-stepper #stepper>
        <mat-step [stepControl]="postForm">
            <ng-template matStepLabel>
                <div class="stepper-label">Fill out the basic details of your listing</div>
            </ng-template>
            <fieldset class="fieldset-disable" [disabled]="(authService.isAuthorized$ | async) === false">
                <geoapify-geocoder-autocomplete [value]="selectedAddress" [filterByCountryCode]="['us']"
                    (placeSelect)="placeSelected($event)" (suggestionsChange)="suggestionsChanged($event)">
                </geoapify-geocoder-autocomplete>
            </fieldset>
            <form class="post-form" [formGroup]="postForm">
                <mat-grid-list [cols]="getGridCols()" [rowHeight]="getRowHeight()">
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="type">
                                <mat-option *ngFor="let typeListing of typeOfListing"
                                    [value]="typeListing">{{typeListing}}</mat-option>
                            </mat-select>
                            <mat-label>Type of Listing</mat-label>
                            <mat-error *ngIf="postForm.get('type')?.errors?.['required']">Type is required.</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <mat-label>Unit Number</mat-label>
                            <input matInput placeholder="Unit Number" formControlName="unit" maxlength="10">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <mat-label>Zip Code</mat-label>
                            <input matInput placeholder="Zip Code" formControlName="zipCode">
                            <mat-error *ngIf="postForm.get('zipCode')?.errors?.['required']">Zip Code is
                                required.</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <input matInput placeholder="City" formControlName="city">
                            <mat-error *ngIf="postForm.get('city')?.errors?.['required']">City is required.</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="state">
                                <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                            </mat-select>
                            <mat-label>State</mat-label>
                            <mat-error *ngIf="postForm.get('state')?.errors?.['required']">State is
                                required.</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <mat-label>Contact Number</mat-label>
                            <input matInput placeholder="Contact Number" formControlName="contactNumber" maxlength="10">
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>
                <div class="stepper-label">Add Photos/Videos<span class="stepper-label-message"> (Add atleast one
                        photo/video)</span></div>
            </ng-template>
            <app-upload-documents [selectedFiles]="uploadedDocuments"
                (selectedFilesEvent)="onDocumentsReceived($event)"></app-upload-documents>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>
                <div class="stepper-label">Description & Other Details</div>
            </ng-template>
            <form class="post-form" [formGroup]="postForm">
                <mat-grid-list [cols]="getDescriptionGridCols()" [rowHeight]="getRowHeight()">
                    <mat-grid-tile colspan="1" rowspan="1">
                        <label id="radio-button">Status:</label>
                        <mat-radio-group aria-labelledby="radio-button" formControlName="status">
                            <mat-radio-button *ngFor="let status of statusOfListing"
                                [value]="status">{{status}}</mat-radio-button>
                        </mat-radio-group>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <label id="type-radio-button">Type of Building:</label>
                        <mat-radio-group aria-labelledby="type-radio-button" formControlName="typeOfBuilding">
                            <mat-radio-button *ngFor="let type of typeOfBuildings"
                                [value]="type">{{type}}</mat-radio-button>
                        </mat-radio-group>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <mat-select formControlName="yearBuilt">
                                <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                            </mat-select>
                            <mat-label>Year Built</mat-label>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <mat-label>Listing Price</mat-label>
                            <input matInput type="text" [appMaxDigits]="9" commaFormatter placeholder="Listing Price(in dollars)"
                                formControlName="price">
                            <mat-error *ngIf="postForm.get('price')?.errors?.['required']">Listing Price is
                                required.</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <mat-label>Area</mat-label>
                            <input matInput type="text" [appMaxDigits]="5" commaFormatter
                                placeholder="Area of your Listing(in sq ft)" formControlName="area">
                            <mat-error *ngIf="postForm.get('area')?.errors?.['required']">Area is required.</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <mat-label>Lot Area</mat-label>
                            <input matInput type="text" decimalCommaFormatter [appMaxDigits]="6" [decimalDigits]="2" placeholder="Area of your Lot"
                                formControlName="lotArea">
                                 <mat-select matSuffix formControlName="lotAreaUnit" class="area-unit-select">
                                <mat-option *ngFor="let u of units" [value]="u">{{ u }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="postForm.get('lotArea')?.errors?.['required']">Lot Area is
                                required.</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <input matInput type="number" [appMaxDigits]="4" placeholder="HOA Amount(in dollars)"
                                formControlName="hoa">
                            <mat-error *ngIf="postForm.get('hoa')?.errors?.['required']">HOA is
                                required.</mat-error>
                            <mat-label>HOA</mat-label>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <mat-label>Amount Per Sq. Ft.</mat-label>
                            <input matInput type="number" [appMaxDigits]="8"
                                placeholder="Amount Per Sq. Ft.(in dollars)" formControlName="amountPerSqFt">
                            <mat-error *ngIf="postForm.get('amountPerSqFt')?.errors?.['required']">Amount Per Sq. Ft. is
                                required.</mat-error>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <input matInput type="number" [appMaxDigits]="3" placeholder="Number of Bedrooms"
                                formControlName="bedrooms">
                            <mat-error *ngIf="postForm.get('bedrooms')?.errors?.['required']">Number of Bedrooms is
                                required.</mat-error>
                            <mat-label>Number of Bedrooms</mat-label>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <input matInput type="number" [appMaxDigits]="3" placeholder="Number of Bathrooms"
                                formControlName="bathrooms">
                            <mat-error *ngIf="postForm.get('bathrooms')?.errors?.['required']">Number of Bathrooms is
                                required.</mat-error>
                            <mat-label>Number of Bathrooms</mat-label>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-slide-toggle formControlName="hasPool">Has Pool</mat-slide-toggle>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list [cols]="getFeatureGridCols()" [rowHeight]="getRowHeight()">
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-slide-toggle (change)="onHasGarageChange($event)" formControlName="hasGarage">Has
                            Garage</mat-slide-toggle>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <input matInput type="number" [appMaxDigits]="2" placeholder="Number of Garage Space"
                                formControlName="numberOfGarageSpace">
                            <mat-error *ngIf="postForm.get('numberOfGarageSpace')?.errors?.['required']">Number of
                                Garage Space is
                                required.</mat-error>
                            <mat-label>Number of Garage Space</mat-label>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-slide-toggle (change)="onHasFireplaceChange($event)" hideIcon="true"
                            formControlName="hasFireplace">Has
                            Fireplace</mat-slide-toggle>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="1" rowspan="1">
                        <mat-form-field appearance="outline">
                            <input matInput type="number" [appMaxDigits]="2" placeholder="Number of Fireplace"
                                formControlName="numberOfFireplace">
                            <mat-error *ngIf="postForm.get('numberOfFireplace')?.errors?.['required']">Number of
                                Fireplace is
                                required.</mat-error>
                            <mat-label>Number of Fireplace</mat-label>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list [cols]="getTextAreaGridCols()" rowHeight="200px">
                    <mat-grid-tile [colspan]="getTextAreaColspan()" rowspan="1">
                        <mat-form-field appearance="outline">
                            <mat-label>Other Features</mat-label>
                            <textarea matInput maxlength="10000" formControlName="features"
                                placeholder="Features of your Listing!"></textarea>
                            <mat-hint align="end"><mat-icon class="info-icon">info</mat-icon>Add each feature in 'key:
                                value' format (e.g. Roof: Shingles) in new line.</mat-hint>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="getTextAreaColspan()" rowspan="1">
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput maxlength="2000" formControlName="description"
                                placeholder="Description of your Listing!"></textarea>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
            </form>
        </mat-step>
    </mat-vertical-stepper>
    <div class="submit-button">
        <button mat-raised-button color="primary" type="submit" class="button"
            [disabled]="!postForm.dirty || !postForm.valid || uploadedDocuments === undefined || uploadedDocuments.length <= 0"
            (click)="onPostOrUpdate()">{{submitButtonText}}</button>
    </div>
</div>