.home-page-body-wrapper {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .background-image {
        background-image: url('../../assets/home-img6.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 60%;
    }

    .image-main-text {
        color: white;
        position: absolute;
        left: 28%;
        top: 25%;
        font-size: 50px;
        font-weight: bold;
    }

    .image-sub-text {
        color: white;
        position: absolute;
        left: 38%;
        top: 35%;
        font-size: 25px;
        font-weight: 500;
    }

    .details-size {
        width: 100%;
    }
}