.home-page-body-wrapper {
    .text-content {
        position: fixed;
    }

    .background-image {
        background-image: url('../../assets/home-img6.webp');
    }

    .image-main-text {
        color: white;
        font-size: 50px;
        font-weight: bold;
    }

    .image-sub-text {
        color: white;
        font-size: 25px;
        font-weight: 500;
    }

    .details-size {
        width: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }

    .example-card {
        max-width: 460px;
    }

    .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
    }
}