.home-page-details-wrapper {
.mat-mdc-tab-label-container {
    background-color: #9b4d3a !important;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: white !important;
}

.mat-mdc-tab .mdc-tab__text-label {
    color: #9d8d8f !important;
    font-size: 25px !important;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
    border-top-width: 3px !important;
    border-color: #9d8d8f !important;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
}
