@import '../../../styles.scss';

.image-carousel-wrapper {
    .carousel {
        position: relative;
        width: 100%;
        height: 50%;
        overflow: hidden;
    }

    .carousel .carousel-inner {
        display: flex;
        transition: transform 0.5s ease;
        height: 100%;
        width: 100%;
    }

    .carousel .carousel-item {
        flex: 0 0 100%;
    }

    .carousel .carousel-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        background: transparent;
        border: none;
        cursor: pointer;
        color: $accentColor;
        padding: 10px;
    }

    .carousel .carousel-nav.prev {
        left: 10px;
    }

    .carousel .carousel-nav.next {
        right: 10px;
    }

    .carousel .dots {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .carousel .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: $accentColor;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
    }

    .carousel .dot.active {
        background-color: $primaryColor;
        /* Change color for active dot */
    }

    .carousel img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        top: 0;
        left: 0;
    }
}