<span class="image-carousel-wrapper">
<div class="carousel" (click)="$event.stopPropagation()">
  <button class="carousel-nav prev" (click)="prevSlide()">&#10094;</button>
  <div #carouselInner class="carousel-inner">
    <div *ngFor="let item of items" class="carousel-item">
      <img *ngIf="item.mediaType === 'image'" [src]="item.media" width="400" height="400">
      <video *ngIf="item.mediaType === 'video'" [src]="item.media" controls></video>
    </div>
  </div>
  <button class="carousel-nav next" (click)="nextSlide()">&#10095;</button>
  <div class="dots">
    <span *ngFor="let item of items; let i = index" class="dot" [class.active]="i === currentIndex"
      (click)="goToSlide(i)"></span>
  </div>
</div>
</span>