<div class="forgot-email-wrapper">
    <form class="submit-form" [formGroup]="forgotPasswordEmailForm">
        <div *ngIf="!showNewPasswordStep">
            <mat-label class="label-text">Email</mat-label>
            <mat-form-field floatLabel="always" appearance="outline">
                <input matInput placeholder="Enter your Email" formControlName="email">
                <mat-error *ngIf="forgotPasswordEmailForm.get('email')?.errors?.['email']">Enter a valid email
                    address.</mat-error>
                <mat-error *ngIf="forgotPasswordEmailForm.get('email')?.errors?.['required']">Email is
                    required.</mat-error>
            </mat-form-field>
            <div class="submit-button">
                <button mat-raised-button color="primary" type="submit" class="button" (click)="onConfirmEmail()"
                    [disabled]="!forgotPasswordEmailForm.valid">Next</button>
            </div>
        </div>
        <div *ngIf="showNewPasswordStep">
            <mat-label class="label-text">New Password</mat-label>
            <mat-form-field floatLabel="always" appearance="outline">
                <input matInput placeholder="Enter your Password" formControlName="newPassword">
                <mat-error *ngIf="forgotPasswordEmailForm.get('newPassword')?.errors?.['required']">Password is
                    required.</mat-error>
                <mat-error *ngIf="forgotPasswordEmailForm.get('newPassword')?.hasError('minLength')
                    || forgotPasswordEmailForm.get('newPassword')?.hasError('hasNumber')
                    || forgotPasswordEmailForm.get('newPassword')?.hasError('hasCapitalCase')
                    || forgotPasswordEmailForm.get('newPassword')?.hasError('hasSmallCase')
                    || forgotPasswordEmailForm.get('newPassword')?.hasError('hasSpecialCharacters')">Password is
                    invalid.</mat-error>
            </mat-form-field>

            <mat-label class="label-text">Confirm Password</mat-label>
            <mat-form-field floatLabel="always" appearance="outline">
                <input matInput placeholder="Enter your Password" formControlName="confirmPassword">
                <mat-error *ngIf="forgotPasswordEmailForm.get('confirmPassword')?.errors?.['required']">Password is
                    required.</mat-error>
                <mat-error *ngIf="forgotPasswordEmailForm.get('confirmPassword')?.errors?.['passwordMismatch']">
                    Passwords do not match.
                </mat-error>
            </mat-form-field>
            <div class="submit-button">
                <button mat-raised-button color="primary" type="submit" class="button" (click) = onPasswordChange()
                    [disabled]="!forgotPasswordEmailForm.valid">Change Password</button>
            </div>
        </div>
    </form>
</div>