@import '../../../styles.scss';

.forgot-email-wrapper {
    .submit-button {
        margin-top: 12% !important;

        .mat-mdc-raised-button {
            background-color: $primaryColor !important;
            width: 100% !important;
            height: 50px !important;
        }
    }

    .mdc-line-ripple {
        display: none;
    }

    .mdc-text-field--focused {
        background-color: whitesmoke;
        border-color: $primaryColor !important;
        color: $primaryColor !important;
    }

    .mat-mdc-form-field {
        margin-top: 2%;
        width: 99%;
    }

    .mat-mdc-form-field-hint-wrapper,
    .mat-mdc-form-field-error-wrapper {
        padding: 0;
    }

    .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: $primaryColor !important;

    }

    .mdc-text-field .mdc-text-field__input {
        caret-color: $primaryColor !important;
    }


    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
        border-color: $primaryColor !important;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
        border-color: $primaryColor !important;
    }
}