@import '../../styles.scss';
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 7%;
    display: flex;
    align-items: center;
    color: $accentColor;
    font-weight: 600;
    background: $primaryColor;
}

.mat-button-toggle-checked {
    opacity: 0.6;
}

.mat-button-toggle {
    background-color: transparent;
}

.toggle-buttons {
    border: none; 
}

.toggle-button {
    border-bottom: 2px solid $accentColor;
    color: $accentColor;
    margin-left: 30px;
    border-left: none !important;
    font-size: 20px;
    font-weight: 500;
}

.menu-buttons {
    flex: 1;
    text-align: center;
}

.spacer {
    flex: 1;
}

.signIn-button {
    border: 2px solid blue !important;
    border-color: $accentColor !important;
    border-radius: 0px !important;
    color: $accentColor !important;
    margin: 10px;
}

.profile-button {
    width: 8%;
    height: 70%;
    border: 2px solid blue !important;
    border-color: $accentColor !important;
    border-radius: 50px !important;
    color: $accentColor !important;
    margin: 10px;
}

.profile-button-div {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.profile-icon {
    margin: 4px;
    line-height: 1;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
  }

.home-icon {
    font-size: xx-large;
    width: 30px;
}

.dreamhomes-title {
    font-size: 30px;
    font-family: auto;
}

.mat-mdc-raised-button:not(:disabled) {
    background-color: transparent;
}
