<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div class="spotahome-title">SPOTA<span><mat-icon class="home-icon">home</mat-icon></span>OME</div>
    <div class="menu-buttons">
        <mat-button-toggle-group class="toggle-buttons" [(ngModel)]="selectedButton">
            <mat-button-toggle class="toggle-button" value="Buy" (click)="goToBuyPage()">Buy</mat-button-toggle>
            <mat-button-toggle class="toggle-button" value="Sell" (click)="goToSellPage()">Sell</mat-button-toggle>
            <mat-button-toggle class="toggle-button" value="Rent">Rent</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="spacer"></div>
    <button *ngIf="showSignInButton" mat-raised-button class="signIn-button" (click)="openDialog()">
        <span>Sign In</span>
    </button>
    <button *ngIf="showProfileButton" mat-raised-button class="profile-button" (click)="openProfileDialog()">
        <div class="profile-button-div"><mat-icon class="profile-icon">insert_emoticon</mat-icon>
            <div class="ellipsis">Hey {{userName}}!</div>
        </div>
    </button>
</div>