<span class="buy-page-wrapper">
    <div class="content" role="main">
        <div class="background-image">
            <div class="buy-page-heading">
                <h1 class="image-main-text">Home isn't a place, it's a feeling!</h1>
                <p class="image-sub-text">Let us help you find your perfect home!</p>
            </div>
            <div class="buy-page-address">
                <geoapify-geocoder-autocomplete [value]="searchLocation" [filterByCountryCode]="['us']"
                    (placeSelect)="placeSelected($event)">
                </geoapify-geocoder-autocomplete>
            </div>
        </div>
        <div class="load-spinner" *ngIf="loading">
            <mat-spinner [strokeWidth]="5" [diameter]="70"></mat-spinner>
        </div>
        <div class="right-align-buttons">
            <mat-button-toggle-group class="toggle-buttons" [(ngModel)]="defaultView">
                <mat-button-toggle class="toggle-button" value="List">List</mat-button-toggle>
                <mat-button-toggle class="toggle-button" value="Map">Map</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="grid-container" *ngIf="defaultView === 'List'">
            <app-image-card *ngFor="let listing of listings" [listing]="listing" class="listing-card" (view)="viewListing($event)">
            </app-image-card>
        </div>
        <app-map *ngIf="defaultView === 'Map'" [center]="[searchLocationLat, searchLocationLng]" [mapLocations]="listings" [popupComponent]="mapPopupComponent"></app-map>
        <div class="no-search-results" *ngIf="defaultView === 'List' && listings.length === 0">
            No results with the given criteria. Try other locations.
        </div>

        <mat-paginator *ngIf="listings && listings.length > 0 && defaultView === 'List'" #paginator
            class="buy-page-paginator" (page)="handlePageEvent($event)" [pageSize]="pageSize" [hidePageSize]="false"
            [showFirstLastButtons]="true" [length]="length" [pageSizeOptions]="pageSizeOptions">
        </mat-paginator>
        <app-footer></app-footer>
    </div>
</span>