@import '../../styles.scss';

.buy-page-wrapper {
    .text-content {
        position: fixed;
    }

    .background-image {
        background-image: url('../../assets/home-img6.webp');
    }

    .image-main-text {
        color: white;
        font-size: 50px;
        font-weight: bold;
    }

    .image-sub-text {
        color: white;
        font-size: 25px;
        font-weight: 500;
    }

    .details-size {
        width: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;
        padding: 10px;
    }

    .buy-page-heading {
        position: relative;
    }

    .buy-page-address {
        position: relative;
        top: 10%;
        width: 25%;
    }

    .buy-page-paginator {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .load-spinner {
        display: flex;
        justify-content: center;
    }

    .no-search-results {
        display: flex;
        justify-content: center;
        font-size: large;
        color: $primaryColor;
        font-weight: 500;
    }

    .right-align-buttons {
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;
        width: 99%;
    }

    .mat-button-toggle-group {
        width: 20%;
    }

    .mat-button-toggle {
        width: 50%;
    }

    .mat-button-toggle-appearance-standard {
        color: $accentColor;
        background: $primaryColor;
    }

    .map-display {
        width: 100%;
        height: 100%;
    }

    ::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
        color: white !important;
    }

    ::ng-deep .carousel {
        height: 100% !important;
    }

    ::ng-deep .carousel .carousel-item {
        width: 300px !important;
        height: 300px !important;
    }


    ::ng-deep .geoapify-autocomplete-input {
        width: 100%;
        border-radius: 50px;
    }

    ::ng-deep .geocoder-container {
        position: absolute !important;
    }

    ::ng-deep .geoapify-autocomplete-items {
        width: 100%;
    }
}