/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

html,
body {
    height: 100%;
    min-height: 1000px;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #F5F5F5;
}

$primaryColor: #4A90E2;
$accentColor: #F7D9C4;
$lightGray: #ebe8e8;
$lighterGray: #fbf8f8;
$beige: #cfb09545;

.leaflet-container {
  height: 100%;
  width: 100%;
}

// Responsive dialog container
.cdk-overlay-pane {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.mat-mdc-dialog-container .mdc-dialog__content {
    height: auto;
    overflow-y: auto;
}

.content {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 7%;
}

.background-image {
    min-height: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40%;
    top: 50%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-text {
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.submit-button {
    text-align: center;
    margin-top: 20%;
}

.mat-mdc-dialog-content {
    max-height: unset !important;
}

.mdc-menu-surface.mat-mdc-select-panel {
    height: fit-content;
    //background: transparent;
}

.geocoder-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    place-items: center;
}

.geoapify-autocomplete-input {

    background-color: whitesmoke;
    width: 30%;
    height: 55px;
    border: 5px solid $primaryColor;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 17px;
    padding-left: 16px;
}

.geoapify-autocomplete-items {    
 .main-part {
    color: rgba(0, 0, 0, 0.6);
}
    width: 33%;
    position: relative;
    top: 0
}

.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after,
.mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-minimal::after {
    color: $primaryColor;
}

.mat-mdc-select-arrow {
    color: $primaryColor;
}

.mat-mdc-form-field-hint-end {
    color: black;
}

.mat-expansion-indicator, .mat-expansion-indicator::after {
    color: white !important;
}

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: $primaryColor !important;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: $primaryColor !important;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: $primaryColor !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: $primaryColor;
}

.mat-mdc-form-field-hint-end {
    color: blue;
}

.mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: #481414;
    --mdc-switch-selected-handle-color: #481414;
    --mdc-switch-selected-hover-state-layer-color: #481414;
    --mdc-switch-selected-pressed-state-layer-color: #481414;
    --mdc-switch-selected-focus-handle-color: #481414;
    --mdc-switch-selected-hover-handle-color: #481414;
    --mdc-switch-selected-pressed-handle-color: #481414;
    --mdc-switch-selected-focus-track-color: #481414;
    --mdc-switch-selected-hover-track-color: #481414;
    --mdc-switch-selected-pressed-track-color: #481414;
    --mdc-switch-selected-track-color: #481414;
}

.mat-button-toggle .mat-pseudo-checkbox {
    display: none !important;
}

.cdk-global-overlay-wrapper {
    justify-content: center !important;
    align-items: center !important;
}

// Responsive breakpoints for dialog
@media screen and (max-width: 599px) {
    .cdk-overlay-pane {
        width: 95%;
        max-width: none;
        margin: 16px;
    }

    .mat-mdc-dialog-container {
        max-height: 90vh;
    }

    .label-text {
        font-size: 13px;
    }

    .geoapify-autocomplete-input {
        width: 85%;
        height: 48px;
        font-size: 15px;
        border-width: 3px;
    }

    .geoapify-autocomplete-items {
        width: 90%;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .cdk-overlay-pane {
        width: 85%;
        max-width: 480px;
    }

    .mat-mdc-dialog-container {
        max-height: 85vh;
    }

    .label-text {
        font-size: 14px;
    }

    .geoapify-autocomplete-input {
        width: 60%;
        height: 50px;
        font-size: 16px;
    }

    .geoapify-autocomplete-items {
        width: 65%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cdk-overlay-pane {
        width: 60%;
        max-width: 520px;
    }

    .mat-mdc-dialog-container {
        max-height: 80vh;
    }

    .geoapify-autocomplete-input {
        width: 50%;
        height: 52px;
    }

    .geoapify-autocomplete-items {
        width: 55%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .cdk-overlay-pane {
        width: 45%;
        max-width: 550px;
    }

    .geoapify-autocomplete-input {
        width: 40%;
    }

    .geoapify-autocomplete-items {
        width: 45%;
    }
}

@media screen and (min-width: 1440px) {
    .cdk-overlay-pane {
        width: 35%;
        max-width: 600px;
        min-width: 500px;
    }

    .geoapify-autocomplete-input {
        width: 30%;
    }

    .geoapify-autocomplete-items {
        width: 33%;
    }
}

// Ensure dialogs are scrollable on very small screens
@media screen and (max-height: 600px) {
    .mat-mdc-dialog-container {
        max-height: 95vh;
    }

    .mat-mdc-dialog-content {
        max-height: 60vh !important;
    }
}