@import '../../../styles.scss';

.signIn-dialog-content-wrapper {
    width: 50%;
    display: contents;

    .error-message {
        font-size: small;
        color: red;
        text-align: center;
        margin: 0;
    }

    .mdc-tab__text-label {
        font-size: 16px;
    }

    .mat-mdc-tab.mdc-tab {
        border-radius: 15px;
        margin: 4px;
    }

    .mat-mdc-tab .mdc-tab-indicator__content--underline {
        border-top-width: 5px;
        border-color: $primaryColor;
    }

    .mat-mdc-tab.mdc-tab--active:hover .mdc-tab-indicator__content--underline,
    .mat-mdc-tab.mdc-tab--active:focus .mdc-tab-indicator__content--underline {
        border-color: $primaryColor;
    }

    .mdc-tab__content {
        width: 100%;
    }

    .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label,
    .mat-mdc-tab.mdc-tab--active:focus .mdc-tab__text-label,
    .mat-mdc-tab.mdc-tab--active:hover .mdc-tab__text-label {
        color: black;
    }

    .mat-mdc-form-field {
        margin-top: 2%;
        width: 99%;
    }

    .mat-mdc-tab-group {
        height: 100%;
    }

    .mat-mdc-tab-body-wrapper {
        height: 100%;
    }

    .submit-form {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    .i-am-an-agent-checkbox {
        .mdc-form-field>label {
            font-size: 18px;
            color: $primaryColor;
            font-weight: 600;
        }

        .mdc-checkbox__background:not(:checked) {
            border-width: 3px !important;
            border-color: $primaryColor !important;
        }

        .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background {
            background-color: $primaryColor !important;
        }

        margin-top: 12%;
    }

    .mdc-line-ripple {
        display: none;
    }


    .submit-button {
        margin-top: 12% !important;

        .mat-mdc-raised-button {
            background-color: $primaryColor !important;
            width: 100% !important;
            height: 50px !important;
        }
    }


    .mdc-text-field--focused {
        background-color: whitesmoke;
    }

    .mdc-button__label {
        font-size: 20px;
        color: $accentColor;
    }

    .submit-button {
        .mat-mdc-raised-button:disabled {
            background-color: $primaryColor !important;
            width: 100% !important;
            height: 50px !important;
            opacity: 0.3 !important;
        }
    }

    .mat-mdc-form-field-hint-wrapper,
    .mat-mdc-form-field-error-wrapper {
        padding: 0;
    }

    .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: $primaryColor;

    }

    .mdc-text-field .mdc-text-field__input {
        caret-color: $primaryColor;
    }


    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
        border-color: $primaryColor;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
        border-color: $primaryColor !important;
    }
}