.signIn-dialog-content-wrapper {
    .error-message {
        font-size: small;
        color: red;
        text-align: center;
        margin: 0;
    }

    .mdc-tab__text-label {
        font-size: 16px;
    }

    .mat-mdc-tab.mdc-tab {
        border-radius: 15px;
        margin: 4px;
    }

    .mat-mdc-tab .mdc-tab-indicator__content--underline {
        border-top-width: 5px;
        border-color: #9b4d3a;
    }

    .mat-mdc-tab.mdc-tab--active:hover .mdc-tab-indicator__content--underline,
    .mat-mdc-tab.mdc-tab--active:focus .mdc-tab-indicator__content--underline {
        border-color: #9b4d3a;
    }

    .mdc-tab__content {
        width: 100%;
    }

    .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
        color: black;
    }

    .mat-mdc-form-field {
        margin-top: 2%;
        width: 100%;
    }

    .mat-mdc-tab-group {
        height: 100%;
    }

    .mat-mdc-tab-body-wrapper {
        height: 100%;
    }

    .submit-form {
        padding-top: 20px;
    }

    .mdc-line-ripple {
        display: none;
    }

    .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: #9b4d3a;

    }

    .mdc-text-field .mdc-text-field__input {
        caret-color: #9b4d3a;
    }

    .submit-button {
        text-align: center;
        margin-top: 20%;
    }

    .mat-mdc-raised-button {
        background-color: #9b4d3a;
        width: 100%;
        height: 50px;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
        border-color: #9b4d3a;
    }

    .label-text {
        color: black;
        font-size: 15px;
        font-weight: 500;
    }

    .mdc-text-field--focused {
        background-color: whitesmoke;
    }

    .mdc-button__label {
        font-size: 20px;
        color: white;
    }

    .mat-mdc-raised-button:disabled {
        opacity: 0.3;
    }

    .mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
        padding: 0;
    }
}